<div id="modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Reservations</h4>
      </div>
      <div class="modal-body">
        <% reservations.each do |reservation| %>
          <div>
            <%= reservation.start_on.to_s[11..15] %> -
            <%= reservation.end_on.to_s[11..15] %>
          </div>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
